<!DOCTYPE html>
 <meta http-equiv="refresh" content="15" />
<html lang="en">
<head>
	<title>Quiz Scores</title>
	<link rel='stylesheet' href='https://cdn.jsdelivr.net/gh/kognise/water.css@latest/dist/light.css'>
	<meta name='viewport' content='width=device-width, initial-scale=1.0'>
</head>
</head>
<body>
<img src="static/images/fit.png" width="300">
<h1> Scoreboard </h1>

<div class="limiter">
		<div class="container-table100">
			<div class="wrap-table100">
				<div class="table100 ver2 m-b-110">
					<div class="table100-head">
						<table>
							<thead>
								<tr class="row100 head" color="#770000">
									<th class="cell100 column1">Team Name</th>
									<th class="cell100 column2">Current Score</th>
								</tr>
							</thead>
						</table>
					</div>
					<div class="table100-body js-pscroll">
					<table>
						<tbody>
							{% for row in rows %}
							<tr class="row100 body">
									<td class="cell100 column1">{{row[0]}}</td>
									<td class="cell100 column2">{{row[1]}}</td>
							</tr>
							{% endfor %}


							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>


<!--===============================================================================================-->	
	<script src="static/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="static/vendor/bootstrap/js/popper.js"></script>
	<script src="static/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="static/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="static/vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
	<script>
		$('.js-pscroll').each(function(){
			var ps = new PerfectScrollbar(this);

			$(window).on('resize', function(){
				ps.update();
			})
		});
			
		
	</script>
<!--===============================================================================================-->
	<script src="static/js/main.js"></script>

</body>
</html>
